{% extends 'base.html' %}

{% block content %}
<form action="{% url 'add-post' %}" method="post" enctype="multipart/form-data">

    <div class="form-group container text-center">

        {% csrf_token %}
        <div class="box text-white">
            Tytuł
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        <div class="box text-white">
            Opis
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div class="box text-white">
            Zdjęcie
            {{ form.image }}
            {{ form.image.errors }}
        </div>



        <input type="submit" value="submit">
    </div>
</form>
{% endblock %}