{% extends 'base.html' %}

{% block content %}
<form action="{% url 'addcar' %}" method="post" enctype="multipart/form-data">

    <div class="form-group container text-center">

        {% csrf_token %}
        <div class="box text-white">
            Nazwa
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="box text-white">
            Cena
            {{ form.price }}
            {{ form.price.errors }}
        </div>
        <div class="box text-white">
            Opis
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div class="box text-white">
            Zdjęcie
            {{ form.image }}
            {{ form.image.errors }}
        </div>
        <div class="box text-white">
            Na sprzedaż?
            {{ form.for_sale }}
            {{ form.for_sale.errors }}
        </div>


        <input type="submit" value="submit">
    </div>
</form>
{% endblock %}