{% extends 'base.html' %}

{% block content %}


<section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Wyróżnione <em>Posty</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="">
                                {% else %}
                                <img src="assets/images/product-1-720x480.jpg" alt="">
                                {% endif %}
                            </div>
                            <div class="down-content">
                                <span>{{ post.author }}</span>
                                <h4>{{ post.title }}</h4>
                                <p>{{ post.description }}</p>
                                <ul class="social-icons">
                                    <li><a href="{% url 'post-details' post.id %}">Czytaj dalej</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            <br>

        </div>
        </div>
    </section>


{% endblock %}