{% extends 'base.html' %}

{% block content %}
<form action="{% url 'user_login' %}" method="post">
    <div class="form-group container text-center">

        {% csrf_token %}
        <div class="box text-white">
        Nazwa użytkownika
        {{ form.username }}
        {{ form.username.errors }}
        </div>
        <div class="box text-white">
        Hasło
        {{ form.password }}
        {{ form.password.errors }}
        </div>
        </div>
        <input type="submit" value="submit">
    </div>
</form>
{% endblock %}