{% extends 'base.html' %}

{% block content %}
<form action="{% url 'user_register' %}" method="post">

    <div class="form-group container text-center">

        {% csrf_token %}
        <div class="box text-white">
        Nazwa użytkownika
        {{ form.username }}
        {{ form.username.errors }}
        </div>
        <div class="box text-white">
        Email
        {{ form.email }}
        {{ form.email.errors }}
        </div>
        <div class="box text-white">
        Hasło
        {{ form.password1 }}
        {{ form.password1.errors }}
        </div>
        <div class="box text-white" >
        Powtórz hasło
        {{ form.password2 }}
        {{ form.password2.errors }}
        </div>
        <input type="submit" value="Wyślij">
    </div>
</form>
{% endblock %}