{% extends 'base.html' %}

{% block content %}
<form action="{% url 'user_register' %}" method="post">

    <div class="form-group container text-center">

        {% csrf_token %}
        <div class="box text-white">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
        </div>
        <div class="box text-white">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
        </div>
        <div class="box text-white">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password1.errors }}
        </div>
        <div class="box text-white" >
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {{ form.password2.errors }}
        </div>
        <input type="submit" value="submit">
    </div>
</form>
{% endblock %}